<!DOCTYPE html>
<html>
<%- include("partials/head") %>
<body>
	<div id="CONTAINER">
		<%- include("partials/messages") %>
		<i id="SIGNAL" class="fa fas fa-signal"></i>
		<i id="WIFI" class="fa fas fa-wifi"></i>
		<span id="HOUR">7:50 PM</span>
		<i id="BATTERY" class="fa fas fa-battery-full"></i>
			<form action="/search-customer" method="POST">
				<div id="Search_">
					<div class="input-group">
						<div class="col-md-9">
							<input class="form-control" type="text" name="search" placeholder="Search customer by name">
						</div>
						<div class="col-md-3">
							<button style="color: white;" class="btn mx-4" type="submit"><span><i class="fa fas fa-search"></i></span></button>
						</div>
					</div>
				</div>
			</form>
		<div class="col-md-11">
			<h3 id="New_Customer">New Customer.</h3>
			<form action="/add-customer" method="post">
				<div class="form-group">
					<input id="Name_New_Customer" class="form-control" type="text" name="name" required placeholder="Name"
						autofocus>
				</div>
				<div class="form-group">
					<input id="Plate_License" class="form-control" type="text" name="plate" required
						placeholder="Plate License">
				</div>
				<div class="form-group">
					<input id="Make" class="form-control" type="text" name="make" required placeholder="Make">
				</div>
				<div class="form-group">
					<input id="Model" class="form-control" type="text" name="model" required placeholder="Model">
				</div>
				<div class="form-group">
					<input id="Vin" class="form-control" type="text" name="vin" required placeholder="Vin">
				</div>
				<div class="form-group">
					<input id="Add" class="btn btn-primary mx-auto" type="submit" value="Add">
				</div>
			</form>
			<a href="/profile"><i Id="BACK_TWO" class="fa fas fa-arrow-circle-left"></i></a>
			<a href="/add-customer"><i Id="CIRCLE" class="fa fas fa-circle"></i></a>
		</div>
	</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>